.search-form {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(175, 189, 209);
}

.btn-search {
  border-radius: 999999px;
  padding: 10px;
  background-color: rgb(88, 115, 155);
  font-weight: 700;
  margin-left: 0.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  border: solid;
  border-color: lightgray;
  border-width: thin;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

img {
  padding-top: 0.5rem;
  width: 315px;
  height: 251px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-item {
  margin-right: 0.5rem;
  font-size: x-small;
}

.load-more-position {
  display: flex;
  justify-content: center;
}

.load-more {
  border-radius: 999999px;
  padding: 15px;
  background-color: rgb(88, 115, 155);
  font-weight: 700;
}
